body {
  position: relative !important;
}

.modal {
  position: absolute;
  background-color: rgb(210 63% 17%);
  width: 70%;
  left: 0;
  right: 0;
  margin: auto !important;
  height: 300px;
  top: 200px;
  z-index: 99999;
}
